$primary_1: rgb(14, 216, 216);
$primary_2: #f75f07;
$primary_3: rgba(189, 114, 70, 0.774);

* {
  margin: 0px;
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: $primary_1;
  width: -webkit-fill-available;
  padding: 20px;
  a {
    text-decoration: none;
  }
  h3 {
    font-size: x-large;
    letter-spacing: 5px;
  }
  nav {
    width: 50%;
  }
  .nav-el {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}

#about-section {
  padding: 40px;
  padding-top: 70px;
  display: flex;
}

#about-div {
  padding: 30px;
  padding-top: 130px;
}

#my-pic {
  width: 30%;
  height: auto;
}

#name {
  color: $primary_2;
  font-size: 40px;
}

#p-name {
  font-size: 20px;
  font-family: monospace;
}

#work-section {
  padding: 20px;
}

#work-head {
  padding: 40px;
}

#works {
  display: flex;
  flex-wrap: wrap;
}

.work-card {
  width: 25%;
  margin: 30px;
  padding: 10px;
}

.work-card img {
  width: 80%;
}

#resume-section {
  padding: 40px;
  padding-left: 60px;
  h3 {
    font-size: xx-large;
    padding-bottom: 20px;
  }
}

#contact-section {
  padding: 40px;
  padding-bottom: 0px;
  hr {
    margin-bottom: 40px;
  }
  form {
    padding: 50px 0px;
    width: 50%;
  }
  input,
  label {
    width: -webkit-fill-available;
    margin: 20px;
    margin-left: 60px;
  }
  p {
    padding-left: 40px;
    padding-bottom: 10px;
  }
  #hr-2 {
    margin: 0px;
    padding: 0px;
  }
}

footer {
  padding: 0px 40px;
  background-color: $primary_3;
  #p-1 {
    font-size: larger;
  }
  p {
    font-size: x-small;
  }
}
